my-data-transform-project/src/main/mule/data-transform-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" >
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <flow name="xml-to-json-transform-flow" doc:id="main-flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/transform"/>
        <ee:transform doc:name="Transform XML to JSON">
            <ee:message>
                <ee:set-payload resource="transform-payload.dwl"/>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
